#tnc-background {
  position: fixed;
  width: 105%;
  height: 105%;
  left: -10px;
  right: -10px;
  top: -10px;
  z-index: 1;

  display: block;
  background: url('/images/cover/newyork.jpg') center / cover;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.tnc-main {
  left: 0;
  right: 0;
  z-index: 9999;
}

.tnc-layout .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
  padding-right: 0;
}

.tnc-layout .mdl-layout__header,
.tnc-layout .mdl-layout__drawer-button,
.tnc-layout .mdl-navigation,
.tnc-layout .mdl-navigation__link {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: #212121;
}

.tnc-main {
}

.tnc-header .mdl-layout__header-row {
  padding-left: 40px;
}

.tnc-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.tnc-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.tnc-layout.is-small-screen .tnc-content {
  padding: 40px 28px;
}

/* header link */

.mdl-layout-title a {
    font-weight: 400;
}

a {
    color: #212121;
}

a.tnc-link, .mdl-layout-title a {
    text-decoration: initial;
}

@import "css/partials/mixin-keyframes";

.tnc-content a {
    color: #212121;
    &:hover {
        color: #C01010;
    }
    transition: color .3s linear;
    -webkit-transition: color .3s linear;
}

/* font sizes */

.tnc-content h1, .tnc-content h2, .tnc-content h3 {
  margin-top: 0px;
}

.tnc-content h1 {
  font-size: 30px;
}

.tnc-content h2 {
  font-size: 25px;
}

.tnc-content h3 {
  font-size: 20px;
}

@import "css/partials/scrollbar",
        "css/partials/syntax";

.tnc-content, .tnc-content h1, .tnc-content h2, .tnc-content h3, .tnc-content h4, .mdl-navigation {
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-weight: 400;
}

.mdl-layout__title, .mdl-layout-title {
    font-family: 'Courgette', cursive !important;
}

.tnc-content .info {
  color: #777;
}

.tnc-content div, .tnc-content p {
  line-height: 1.8em;
  font-size: 1.0em;
}

@import "css/partials/sourcecode";
