.tnc-background {
  background: url('/images/newyork.jpg') center / cover;
  background-attachment: fixed;
}

.tnc-layout .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
  padding-right: 0;
}

.tnc-layout .mdl-layout__header,
.tnc-layout .mdl-layout__drawer-button,
.tnc-layout .mdl-navigation,
.tnc-layout .mdl-navigation__link {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: #212121;
}

.tnc-main {
}

.tnc-header .mdl-layout__header-row {
  padding-left: 40px;
}

.tnc-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.tnc-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.tnc-layout.is-small-screen .tnc-content {
  padding: 40px 28px;
}

.tnc-content h3 {
  margin-top: 48px;
}
