body .tnc-content {
    a, p, div, ul {
        font-size: 16px;
    }
}

#tnc-background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 1;

  display: block;
  background: url('/images/cover/newyork.jpg') center / cover;
}

.tnc-main {
  left: 0;
  right: 0;
  z-index: 3;
}

@import "css/partials/responsive";

.tnc-layout .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
  padding-right: 0;
}

.tnc-layout .mdl-layout__header,
.tnc-layout .mdl-layout__drawer-button,
.tnc-layout .mdl-navigation,
.tnc-layout .mdl-navigation__link {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: #212121;
}

.tnc-main {
}

.tnc-header .mdl-layout__header-row {
  padding-left: 40px;
}

.tnc-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.tnc-content {
  border-radius: 2px;
  padding: 60px 56px;
  margin-bottom: 80px;
}

.tnc-layout.is-small-screen .tnc-content {
  padding: 40px 28px;
}

/* header link */

.mdl-layout-title a {
    font-weight: 400;
    font-size: 24px;
}

a {
    color: #212121;
}

a.tnc-link, .mdl-layout-title a {
    text-decoration: initial;
}

@import "css/partials/mixin-keyframes";

.tnc-post-list {
    li {
        margin-bottom: 5px;
    }
}

.tnc-teaser {
    a.tnc-link {
        color: #AAA;
    }
    margin-bottom: 40px;
}

.tnc-content a {
    color: #212121;
    &:hover {
        color: #C01010;
    }
    transition: color .3s linear;
    -webkit-transition: color .3s linear;
}

.tnc-post-list {
    h2>a {
        font-size: inherit;
    }
    h2 {
        margin: 16px 0;
    }
}

/* font sizes */

.tnc-content h1, .tnc-content h2, .tnc-content h3 {
  margin-top: 0px;
}

.tnc-content h1 {
  font-size: 30px;
}

.tnc-content h2 {
  font-size: 25px;
}

.tnc-content h3 {
  font-size: 20px;
}

@import "css/partials/scrollbar",
        "css/partials/syntax";

.tnc-content, .tnc-content h1, .tnc-content h2, .tnc-content h3, .tnc-content h4, .mdl-navigation {
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-weight: 400;
}

.mdl-layout__title, .mdl-layout-title {
    font-family: 'Courgette', cursive !important;
}

.tnc-content .info {
  color: #777;
}

.tnc-content div, .tnc-content p {
  line-height: 1.8em;
}

.tnc-content table {
    margin-bottom: 16px;

    border-collapse:separate;
    border-spacing:0 5px;
    th {
        border-bottom: 1px solid #ddd;
        padding: 2px 6px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    td {
        padding: 0 6px;
    }
}

.tnc-content tnc-caption, div.figure .caption {
    font-size: 12px;
    color: #888;
    display: block;
}

@import "css/partials/sourcecode",
        "css/partials/charts";
