<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$ | Thinking and Computing</title>
        <!-- Material Library -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/material-design-lite/1.1.3/material.min.css" integrity="sha256-8/FvSMufaMDFDGPISKeLSup0kzLXG2IjRnmpPtcyxjY=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body>
        <div id="tnc-background"></div>
        <div class="tnc-main tnc-layout mdl-layout mdl-js-layout">
          <header class="mdl-layout__header mdl-layout__header--transparent mdl-layout__header--scroll">
            <!-- Top row, always visible -->
            <div class="mdl-layout__header-row">
              <!-- Title -->
              <span class="mdl-layout-title">Thinking and Computing</span>
              <div class="mdl-layout-spacer"></div>
              <!-- Navigation -->
              <nav class="mdl-navigation">
                  <a class="mdl-navigation__link" href="/">Home</a>
                  <a class="mdl-navigation__link" href="/about.html">About</a>
                  <a class="mdl-navigation__link" href="/contact.html">Contact</a>
                  <a class="mdl-navigation__link" href="/archive.html">Archive</a>
              </nav>
            </div>
          </header>
          <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Browse T&amp;C</span>
            <nav class="mdl-navigation">
              <a class="mdl-navigation__link" href="/">Home</a>
              <a class="mdl-navigation__link" href="/about.html">About</a>
              <a class="mdl-navigation__link" href="/contact.html">Contact</a>
              <a class="mdl-navigation__link" href="/archive.html">Archive</a>
            </nav>
          </div>
          <main class="tnc-main mdl-layout__content">
            <div class="tnc-container mdl-grid">
              <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
              <div class="tnc-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
                  $body$
              </div>
            </div>
          </main>
        </div>

        <script src="https://cdn.jsdelivr.net/material-design-lite/1.1.3/material.min.js" integrity="sha256-qeJNkhp5/Tnaa3Ovx49//j+Kn0Lx9ykNYJdLMxCwd1c=" crossorigin="anonymous" defer async></script>
        $partial("templates/background-switcher.html")$
    </body>
</html>
